# Dependency folders
/vendor/

# Composer
composer.lock

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Sensitive storage files
storage/cookies.txt
storage/lsd.dart
storage/*.txt